/*==========================================================================
  Foundation Overrides
  ==========================================================================*/

$foundation-palette: (primary: #1779ba,
secondary: #767676,
success: #3adb76,
warning: #ffae00,
alert: #cc4b37,
);

$global-flexbox: true;
$xy-grid: false;

/*==========================================================================
  Custom Variables
  ==========================================================================*/

$yellow: #FFDD00;
$yellow-bg: rgba(255, 221, 0, 0.1);
$white: #ffffff;
$dark: #2b3034;


/*==========================================================================
  Social media colors
  ==========================================================================*/

$facebook: #4963A1;
$twitter: #59ADEC;
$instagram: #517EA0;
$pinterest: #CB2026;
$linkedin: #187CB5;
$google-plus: #DA4C3E;

/*==========================================================================
  Fonts
  ==========================================================================*/

$font-family: "Open Sans", Helvetica, Arial, sans-serif;

/*==========================================================================
  Fonts
  ==========================================================================*/

$headerBackgroundColor: $dark;
$sortArrowActive: $yellow;
$headerBorderColor: $yellow;
$headerSeperatorColor: $yellow;
$textSize: 16;
